.Rproj.user

# History files
.Rhistory
.Rapp.history

# Session Data files
.RData

# User-specific files
.Ruserdata

# RStudio files
.Rproj.user/

# Temporary files created by R markdown
*.utf8.md
*.knit.md

# produced vignettes
vignettes/*.html
vignettes/*.pdf

# R Environment Variables
.Renviron

# Example code in package build process
*-Ex.R

# Output files from R CMD build
/*.tar.gz

# Output files from R CMD check
/*.Rcheck/

# knitr and R markdown default cache directories
*_cache/
/cache/